<div class="navbar-container">
  <div class="top-header">
    <div class="container clearfix">
      <form action="#" class="pull-left">
        <div class="form-group navbar-search">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control input-lg navbar-search" placeholder="Estoy buscando...">
        </div>
      </form>
      <ul class="list-inline account-navbar pull-right">
        <li><a href="#">Iniciar sesión</a></li>
        <li><a href="#">Crear cuenta</a></li>
        <li><a href="#" class="cart"><span class="cart-icon">3</span>Carrito</a></li>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <a href="{{ site.baseurl }}/"><img src="images/logo.png" alt="Biutiko" width="220px"></a>
  </div>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a class="page-link" href="#">Nuevo</a></li>
          <li><a class="page-link" href="#">Promociones</a></li>
          <li><a class="page-link" href="#">Ver todo</a></li>
          <li><a class="page-link" href="#">Cuidado de la piel</a></li>
          <li><a class="page-link" href="#">Cosméticos</a></li>
          <li><a class="page-link" href="#">Kits</a></li>
          <li><a class="page-link" href="#">Biutips</a></li>
          <li><a class="page-link" href="#">Biutibox</a></li>
          {% for page in site.pages %}
            {% if page.title  and page.categories contains 'navbar' %}
              <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>
