<div class="product-card panel text-center">
  <a href="#"><img src="images/placeholders/product-pic.png" alt="" class="img-responsive"></a>
  <div class="panel-body">
    <a href="#" class="h4 product-info">
      Black Paint Rubar
      <small class="price center-block padding-lv1-ver">$340MXN</small>
    </a>
    <div class="padding-lv1-ver danger-color">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-half-o" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </div>
    <div class="padding-lv2-ver">
      <a href="#" class="btn btn-sm btn-primary">Agregar al carrito</a>
    </div>
  </div>
</div>
