<div id="product-slider" class="carousel slide items-carousel" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="row">
        <div class="col-sm-3">
          {% include product.html %}
        </div>
        <div class="col-sm-3">
          {% include product.html %}
        </div>
        <div class="col-sm-3">
          {% include product.html %}
        </div>
        <div class="col-sm-3">
          {% include product.html %}
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#product-slider" role="button" data-slide="prev">
    <i class="fa fa-angle-left"></i>
  </a>
  <a class="right carousel-control" href="#product-slider" role="button" data-slide="next">
    <i class="fa fa-angle-right"></i>
  </a>
</div>
