<div class="product-card featured panel text-center">
  <div class="img-container">
    <a href="#">
      <img src="/images/placeholders/product-pic.png" alt="" class="img-responsive">
    </a>
    <div class="img-hover-actions">
      <a href="/product/" class="zoom-link"><img src="/images/zoom.png" width="43px"></a>
      <a href="#" class="btn btn-danger">
        <i class="fa fa-heart-o"></i>
        Añadir a wishlist
      </a>
    </div>
  </div>
  <div class="panel-body">
    <a href="#" class="h3 product-info">
      Black Paint Rubar
      <small class="price center-block padding-lv1-ver">$340MXN</small>
    </a>
    <div class="padding-lv1-ver danger-color">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-half-o" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </div>
    <div class="padding-lv2-ver">
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div>
  </div>
</div>
