// Home

.section-bg {
  background-image: url('../images/pattern-happy.png');
  border-bottom: 4px solid #fff;
  &.biukits {
    background-color: $blue-light;
    .section-title {
      border-bottom-color: $brand-info;
    }
    .breadcrumb>.active {
      color: darken($brand-info, 30%);
    }
  }
  &.biutips {
    background-color: $pink-light;
    .section-title {
      border-bottom-color: $brand-danger;
    }
  }
}

.category-link {
  position: relative;
  display: block;
  &:hover {
    @extend .shadow-big;
  }
  .category-content {
    position: absolute;
    top: 36%;
    left: 0;
    right: 0;
    h4 {
      background: #fff;
    }
    .btn {
      margin-top: -3.3rem;
    }
  }
}

.subscribe-box {
  background: $blue-light;
  border-radius: 50px;
  overflow: hidden;
  .subscribe-legend {
    padding: 1.5rem;
    margin-bottom: 0;
    letter-spacing: 0;
    text-align: center;
  }
  form {
    background: $brand-primary;
    padding: .33rem 1rem 1.33rem 1rem;
  }
}
