// Home

.section-bg {
  background-image: url('../images/pattern-happy.png');
  border-bottom: 4px solid #fff;
  &.biukits {
    background-color: $blue-light;
    .section-title {
      border-bottom-color: $brand-info;
    }
  }
  &.biutips {
    background-color: $pink-light;
    .section-title {
      border-bottom-color: $brand-danger;
    }
  }
}

.category-link {
  position: relative;
  display: block;
  .category-content {
    position: absolute;
    top: 36%;
    left: 0;
    right: 0;
    h4 {
      background: #fff;
    }
    .btn {
      margin-top: -3.3rem;
    }
  }
}
