// Product Results

  .product-single {
    // min-height: 1000px;
  }
  .product-gallery {
    position: absolute;
    .item {
      max-height: 450px;
    }
  }
  .review {
    padding-bottom: 2rem;
  }
