// reset

html, body, * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: $font-size-base;
}
input, button{
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: $font-size-base;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}
p {
  font-weight: 100;
}
p, .text-normalize, select, textarea, .tooltip-inner {
  text-transform: initial;
  letter-spacing: 0;
}

// Bootstrap Reset

.input-lg {
  font-size: 1rem;
}
.tooltip {
  font-size: .8rem;
}

  // Buttons

  .btn-sm {
    font-size: .9rem;
    padding: .66rem 1rem .5rem;
  }
  .btn-xs {
    font-size: .7rem;
    padding: .66rem 1rem .5rem;
  }
  .btn-outline {
    border: 1px solid $brand-primary;
  }
