---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap-custom-variables", // Custom variables must load before bootstrap.
  "bootstrap",
  "syntax-highlighting"
;

// variables

$pink-light: #FFE8E4;
$blue-light: #D6EFEF;

// reset

html, body, * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: $font-size-base;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}
.input-lg {
  font-size: 1rem;
}

// Helper Classes

  .unpadding {              padding: 0!important; }
  .unmargin {               margin: 0!important;  }

  .padding-lv3-ver {        padding: .33rem 0; }
  .padding-lv3-top {        padding-top: .33rem; }
  .padding-lv3-bottom {     padding-bottom: .33rem; }

  .padding-lv3-ver {        padding: .66rem 0; }
  .padding-lv3-top {        padding-top: .66rem; }
  .padding-lv3-bottom {     padding-bottom: .66rem; }

  .padding-lv3-ver {        padding: 1rem 0; }
  .padding-lv3-top {        padding-top: 1rem; }
  .padding-lv3-bottom {     padding-bottom: 1rem; }

  .padding-lv4-ver {        padding: 2rem 0; }
  .padding-lv4-top {        padding-top: 2rem; }
  .padding-lv4-bottom {     padding-bottom: 2rem; }

  .danger-color {
    color: $brand-danger;
  }
  .info-color {
    color: $brand-info;
  }
  .shadow-big {
    box-shadow: 0 10px 20px rgba(0,0,0,.05);
  }

// Section component

  .section {
    padding: 4rem 0 5rem;
    .section-title {
      margin-bottom: 2.5rem;
    }
  }
  .section-carousel {
    padding: 2rem 0;
    .carousel .panel {
      margin-bottom: 0;
    }
  }
  .section-title {
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 2px solid $pink-light;
    &.blue-title {
      border-bottom-color: $blue-light;
    }
  }

// Header

  .top-header {
    border-top: 3px solid $pink-light;
    padding-top: 1rem;
    .navbar-search {
      position: relative;
      i {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 1;
      }
      input {
        padding-left: 3rem;
        width: 250px;
      }
    }
    .account-navbar li {
      padding: 0;
      a {
        display: block;
        padding: .66rem 1.33rem;
        border-right: 1px solid $gray-lighter;
      }
      .cart {
        padding-left: 3rem;
        position: relative;
        border-right: 0;
      }
      .cart-icon {
        display: block;
        background: url('../images/cart-small.png') no-repeat center center;
        width: 23px;
        height: 26px;
        position: absolute;
        left: 10px;
        top: 4px;
        text-align: center;
        padding-top: 7px;
        padding-left: 3px;
      }
    }
  }
  .navbar {
    margin: 2rem 0 .66rem;
  }
  .navbar-collapse {
      text-align: center;
  }
  .navbar-nav {
    display: inline-block;
    float: none;
    > li > a {
      border-bottom: 3px solid transparent;
      padding-left: 0;
      padding-right: 0;
      margin: 0 1rem;
      &:hover {
        border-bottom-color: $gray-lighter;
      }
    }
    > .active > a {
      border-bottom-color: $pink-light;
    }
  }

// Carousel

  .carousel-control {
    opacity: .9;
    background: none!important;
    &:hover, &:focus {
      color: $gray;
    }
    i {
      position: absolute;
      top: 50%;
      font-size: 3rem;
      margin-top: -1.5rem;
      left: 40%;
    }
  }

// Product

  .product-slide {
    .carousel-inner {
      padding: 1.5rem;
    }
    .carousel-control {
      width: 5%;
      &.left {
        left: -5%;
      }
      &.right {
        right: -5%;
      }
      i {
        left: 35%;
      }
    }
  }
  .product-card {
    border: 0;
    box-shadow: none;
    &:hover {
      @extend .shadow-big;
    }
    .product-info:hover, .product-info:focus, .product-info:active {
      text-decoration: none;
    }
  }

// Home

.section-bg {
  background-image: url('../images/pattern-happy.png');
  border-bottom: 4px solid #fff;
  &.biukits {
    background-color: $blue-light;
    .section-title {
      border-bottom-color: $brand-info;
    }
  }
  &.biutips {
    background-color: $pink-light;
    .section-title {
      border-bottom-color: $brand-danger;
    }
  }
}
